button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  background: none;
  font-family: inherit;
  font-weight: 600;
  font-size: 0.875rem;
  color: white;
  background: #005EFF;
  border-radius: 0.25rem;
  padding: 0.625rem 1rem;
}
button svg {
  margin-right: 0.25rem;
}
